@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700|Space+Mono:400,700&display=swap");

:root{
--orange:#B78831;
}

::-webkit-scrollbar {
width: 12px;
}

::-webkit-scrollbar-track.dark-mode {
background: #0A0A0A;
}

::-webkit-scrollbar-thumb {
background-color: var(--orange);
border-radius: 10px;
border: 3px solid #0A0A0A;
}

::-webkit-scrollbar-thumb:hover {
background-color: #B78831;
}

::-moz-scrollbar {
width: 12px;
}

::-moz-scrollbar-track.dark-mode {
background: #0A0A0A;
}

::-moz-scrollbar-thumb {
background-color: var(--orange);
border-radius: 10px;
}

::-moz-scrollbar-thumb:hover {
background-color: #B78831;
}

::-ms-scrollbar {
width: 12px;
}

::-ms-scrollbar-track.dark-mode {
background: #0A0A0A;
}

::-ms-scrollbar-thumb {
background-color: var(--orange);
border-radius: 10px;
border: 3px solid #0A0A0A;
}

::-ms-scrollbar-thumb:hover {
background-color: #B78831;
}

body {
    background-color: #0A0A0A;
}

@keyframes pageFadeIn {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.fade-in-page {
    animation: pageFadeIn 1s ease-in-out forwards;
}

.icon-title-container {
    display: flex;
    align-items: center;
    padding: 10px 0 10px 0;
}

.icon-container {
    margin-right: 8px; /* Ajusta el espacio entre el icono y el texto */
}

.card-title {
    margin: 0; /* Elimina el margen para evitar saltos de línea */
    font-weight: 600;
}

h2.dark-mode{
    color: white !important;
}

.card-vip {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 500px;
    min-width: 300px;
    border-radius: 10px;
    box-shadow: 10px 10px 8px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease;
    position: relative;
    overflow: hidden;
    border: 1px solid var(--orange);
}

.card-middle::before {
    content: '';
    position: absolute;
    margin-left: 0 !important;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 2px solid var(--orange);
    box-sizing: border-box;
    z-index: 1;
    pointer-events: none;
    animation: outlineAnimation 2s linear infinite;
}

.vip-price{
    background: -webkit-linear-gradient(#000000, #333333);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

body.dark-mode p.vip-price {
    background: -webkit-linear-gradient(#eee, #b3b3b3);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.free-price{
    background: -webkit-linear-gradient(#B78831, #8a5604);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@keyframes outlineAnimation {
    0% {
        clip-path: polygon(0% 0%, 0% 0%, 0% 100%, 0% 100%);
    }
    25% {
        clip-path: polygon(0% 0%, 100% 0%, 100% 0%, 0% 100%);
    }
    50% {
        clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 100% 100%);
    }
    75% {
        clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
    }
    100% {
        clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
    }
}

.card-middle {
    transform: scale(1.05) !important;
}

.card-vip:hover {
    transform: scale(1.05);
}

.button {
    background-color: var(--orange);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    font-size: 16px;
    margin-top: 10px;
}

.button:hover {
    background-color: #d41f07;
}

.mp{
    align-items: center;
    display: flex;
    justify-content: center;
    color:rgba(59, 130, 246);
    font-weight: 700;
}


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 100%;
}

body {
    font-family: 'Open Sans', sans-serif;
}


.card {
    border: 2px solid transparent; /* vontorno (transparente) */
    border-radius: 8px; /* redondeo de las esquinas */
    transition: transform 0.3s ease, border-color 0.3s ease; /* transicipn correspondiente */
    width: 1024px; 
    height: 500px; 
    overflow: hidden; 
}

.card:hover {
    transform: translateY(-5px); 
    border-color: rgba(172, 99, 9, 0.659);
    cursor: pointer; 
}

header svg {
    right: 0px;
}

.text-center {
    text-align: center; 
}

.font-bold {
    font-weight: bold; 
}

.text-xl {
    font-size: 1.5rem; 
}

.mt-4 {
    margin-top: 1rem; 
}

.text-red-500 {
    color: #000000; /* color, cambiar si es necesario. */
}

.wrapper {
    position: relative;
    top: -5px;
    left: -30px;
    transform: translate(-50%, -50%);
  }
  
  .btn {
    position: relative;
    display: inline-block;
    letter-spacing: 1.2px;
    padding: 12px 32px;
    text-align: center;
    text-transform: uppercase;
    overflow: hidden;
    z-index: 1;
    cursor: pointer;
  }
  .btn:focus {
    outline: none;
  }
  
  .btn--primary {
    color: orange;
  }
  
  .btn--border {
    border-width: 1px;
    border-style: solid;
    border-radius: 10px;
    box-sizing: border-box;
  }
  
  .btn--animated {
    transition-property: color;
    transition-duration: 0.5s;
  }
  .btn--animated.btn--border.btn--primary {
    border: 1px solid rgb(255, 51, 0);
  }
  .btn--animated:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgb(255, 255, 255);
    transform: scaleX(0);
    transform-origin: 0 50%;
    transition-property: transform;
    transition-duration: 0.5s;
    transition-timing-function: ease-out;
    z-index: -1;
  }
  .btn--animated:hover {
    color: white;
  }
  .btn--animated:hover:before {
    transform: scaleX(1);
    transition-timing-function: cubic-bezier(0.45, 1.64, 0.47, 0.66);
  }

/* inicio anim*/
#circle-animation {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 200vw;
    height: 200vw;
    background-color: var(--orange);
    border-radius: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    animation: shrinkCircle 1s forwards;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  @keyframes shrinkCircle {
    0% {
        width: 200vw;
        height: 200vw;
    }
    100% {
        width: 0;
        height: 0;
    }
  }
  
  body.loaded #circle-animation {
    display: none;
  }
  
/* beneficios del vipp */
.vip-benefits {
    padding: 50px 0;
    margin-bottom: 50px;
    display: flex; 
    justify-content: space-around; 
    align-items: flex-start; 
    flex-wrap: wrap; 
}

.vip-card {
    display: flex; 
    flex-direction: column;
    align-items: center; 
    background: linear-gradient(145deg, #be13133b, var(--black)) !important;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(255, 255, 255, 0.374);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.626);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    margin: 10px;
    max-width: 300px; 
    text-align: center;
}

.vip-image-card {
    display: flex; 
    justify-content: center;
    align-items: center; 
    margin: 10px; 
    max-width: 300px; 
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* transiciones (no funciona) */
    cursor: pointer;
    border-radius: 10px; 
    overflow: hidden;
}

.vip-image {
    width: 100%;
    border-radius: 10px; 
}

.vip-image-card:hover {
    transform: translateY(-1px);
    box-shadow: 0 8px 12px rgba(255, 255, 255, 0.2); 
}

/* Estilos para la imagen ampliada */
.vip-image-card.expanded {
    position: fixed; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%) scale(1.5); 
    z-index: 1000; 
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3); 
    max-width: 90%; 
    max-height: 90%; 
    overflow: hidden; 
}

.vip-image-card.expanded img {
    border-radius: 10px; 
    width: 100%; 
    height: auto;
}

body {
    transition: overflow 0.3s ease; 
}

body.expanded {
    overflow: hidden; 
}

.vip-card:hover {
    transform: translateY(-1px) !important;
    box-shadow: 0 8px 12px rgba(253, 224, 1, 0.2) !important;
}


/*container*/

.scroll{
    border: 1px solid black;
    width: 500px;
    height: 100px;
    flex-wrap: wrap;
    text-align: center;
    margin: 0 auto;
    background: #0A0A0A;
    border-radius: 10px;
    padding: 10px;
    overflow-y: auto;
  }
  h2{
  margin-bottom: 0px;
  display: inline-block;
  color: #0A0A0A;
  font-family: Tahoma;
  font-size: 20px;
  text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
  line-height: 0;
  }
  
  #text {
    font-family: arial;
    font-size: 0.99em;
  }
  
  .scroll::-webkit-scrollbar {
      width: 8px;
  }
   
  .scroll::-webkit-scrollbar-track {
      background-color: #343231;
      -webkit-border-radius: 10px;
      border-radius: 10px;
      border: 1px solid #242222;
  }
  
  .scroll::-webkit-scrollbar-thumb {
      -webkit-border-radius: 10px;
      border-radius: 10px;
      background: #a37700;
      border: 1px solid #860b0b3f;
  }