@keyframes pageFadeIn {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.fade-in-page {
    animation: pageFadeIn 1s ease-in-out forwards;
}


::-webkit-scrollbar {
    width: 12px; 
}

::-webkit-scrollbar-track {
    background: #f1f1f1; 
}

::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px; 
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

